 .App {
  font-family: sans-serif;
  text-align: center;
}

.dashboard-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
} 


/* .peoples-card {
  border: solid 1px red;
  width: 200px;
  margin: 10px 0px;
} */